h1 {
  padding-left: 0.5em;
  font-family: sans-serif;
}
svg {
  margin: 1em;
}
div.caption {
  margin-left: 3em;
  font-family: monospace;
  font-size: 1em;
}
input[type="radio"] {
  margin-left: 3em;
}
select {
  border: 1px solid #484848;
  padding: 5px 10px;
  border-radius:5px;
  margin-top: 1em;
}
select:focus {
  outline:none;
}
p {
  font-family: Helvetica, sans-serif;
  margin-top: none;
  margin-bottom: none;
  line-height: 0.9em;
}
#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 5px 7px;
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  opacity: 0.9;
}
#tooltip3 {
  position: absolute;
  width: 80px;
  height: auto;
  padding: 5px 7px;
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  opacity: 0.9;
}
#tooltip2 {
  position: absolute;
  width: 80px;
  height: auto;
  padding: 5px 7px;
  background-color: white;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  opacity: 0.9;
}
#statetooltip {
  position: absolute;
  width: 250px;
  height: auto;
  padding: 5px 7px;
  left: 320px;
  top: 275px;
}
#statetooltip p {
  margin: 0;
  /* width: 300px; */
  font-family: sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
#stat-name {
  color: rgb(109, 72, 187);
}
#tooltip.hidden {
  display: none;
}
#tooltip3.hidden,
#tooltip2.hidden {
  display: none;
}
#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 16px;
}
#tooltip3 p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 16px;
}
#tooltip2 p {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 16px;
}

